<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>Cours Udemy vue.Js 2 - Le guide complet</title>
</head>
<body>
    
    <h1>Entrainement et initiation à vueJs</h1>
    <h2>Les conditions</h2>


    <div id="app">
        <button @click="show = !show">Inverser le texte</button>
        <p v-if="show">vue.js est incroyable !</p>
        <!-- <p v-else-if="color == 'blue'">C'est du bleu.</p>
        <p v-else-if="color == 'red'">C'est du rouge.</p> -->
        <p v-else>Autre texte !</p>
    </div>
    <hr>
    <div id="app2">
        <button @click="show = !show">Inverser le texte</button>
        <template v-if="color == 'blue'">
            <p>C'est du bleu.</p>
            <p>Oui, du bleu!</p>
        </template>
        <p v-else>Autre texte !</p>
    </div>
    <hr>
    <div id="app3">
        <button @click="show = !show">Inverser le texte</button>
        <p v-if="show" data-id="5">vue.js est incroyable ! (v-if)</p>
        <p v-show="show" data-id="5">vue.js est incroyable ! (v-show)</p>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>
</html>