<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cours Udemy vue.Js 2 - Le guide complet</title>
</head>
<body>
    
    <h1>Entrainement et initiation à vueJs</h1>
    <h2>Les components</h2>


    <div id="app">
        <!-- 1ere et 2nde partie
            <test-component></test-component>
            <test-component></test-component>
        -->

        <!-- props 
            <test-component title="Hello !" text="Test"></test-component>
        -->

        <!-- props et variables d'instances 
        <test-component v-for="title in titles" :title="title"></test-component>
        -->

        <!-- verification des props -->
        <test-component title="Hello !"></test-component> 
        <test-component></test-component>



    </div>    

   

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>
</html>