body{
    background: #2980B9;
    background: -webkit-linear-gradient(to left, #2980B9, #6DD5FA, #2980B9);
    background: linear-gradient(to left, #2980B9, #6DD5FA, #2980B9);
    justify-items: center;
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
p{ 
    margin-top: 5%;
    margin-left: 25% ;
    margin-right: 25% ;
}
#app button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.title{
    font-style: italic;
    font-size: 35px;
    margin-top: 5%;
}
.yellow{
    color: rgb(233, 230, 40);
}
.red{
    color:rgba(202, 23, 6, 0.733);
}
.underline{
    text-decoration: underline;
}